.body {
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(images/6.jpg);
  height: 100vh;
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 13px;
  padding-right: 13px;
}

.logo img {
  width: 150px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.logo div {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 12px;
  opacity: 10;
  transition-property: all;
  transition-duration: 0.2s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.logo div:hover {
  color: black;
  transform: scale(1.2);
  background-color: white;
  border-radius: 8px;
}

.logo img:hover {
  transform: scale(1.2);
  background-color: lightgreen;

}

nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  column-gap: 65px;
}

nav ul li a {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-decoration: none;
  background-color: black;
  font-size: 22px;
  transition: all;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

nav li:hover {
  transform: scale(1.2);
}

nav a:hover {
  background-color: white;
  color: red;
  text-decoration: underline;
  text-decoration-color: red;
  border-radius: 3px;
}

.search input {
  padding: 6px 12px;
  border-radius: 8px;
  background-color: rgb(164 221 208);
  color: black;
}

.search input:hover {
  box-shadow: 1px 8px 10px lightseagreen;
}

section .sec1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
}

.button {
  padding-top: 250px;
}

.button button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  padding: 10px 80px;
  font-size: 16px;
  border-radius: 15px;
  background: transparent;
  color: rgb(240, 90, 90);
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  transition-timing-function: ease-in-out;
}

.button button:hover {
  box-shadow: 1px 10px 10px gray;
  transform: scale(1.2);
}

section .sec-wel h1,
p {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

p {
  text-align: center;
  font-size: 25px;
  font-size: 14px;
  word-spacing: 5px;
  line-height: 20px;
}

h1 {
  font-size: 40px;
}

section .sec-wel h1:hover {
  color: blueviolet;
  text-decoration: underline;
  text-decoration-color: purple;
}

section .para p:hover {
  color: blueviolet;
}

/* FORM */
.head3 h2 {
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: black;
  color: blueviolet;
}

legend {
  text-align: center;
  font-size: 22px;
  color: brown;
}

input {
  border-radius: 4px;
  border: 1px solid black;
}

.but {
  padding-left: 30px;
}

.but a {
  list-style: none;
  text-decoration: none;
  font-size: 30px;
  background-color: lemonchiffon;
  border-radius: 8px;
  padding: 5px 30px;
}

body {
  background-color: skyblue;
}

.aboutbody {
  background-color: black;
}

.about h1 {
  background-color: white;
  text-decoration: underline;
  text-decoration-color: black;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

.about span {
  color: #bfc500;
}

.para {
  padding-top: 30px;
}

.about .para p {
  color: white;
  text-align: center;
  word-spacing: 4px;
  line-height: 45px;
  font-weight: bold;
  font-size: 25px;
  line-height: 31px;
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
}

.back {
  padding-top: 150px;
}

.back a {
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 9px;
  border-radius: 6px;
}

.contactbody {
  background-color: black;
}

.head h1 {
  background-color: white;
  text-decoration: underline;
  text-decoration-color: black;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

h2 {
  text-decoration: underline;
  text-decoration-color: blueviolet;
  color: #bfc500;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 30px;
}
.list {
  display: flex;
 
}
.list ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  row-gap: 15px;
  background-color: white;
}

.list ul li a {
  text-decoration: underline;
  text-decoration-color: black;
  color: red;
  padding: 0px 65px;
  font-size: 20px;
}

.para1 {
  padding-top: 30px;
}

.para2 {
  padding-top: 60px;
}

.gymbody {
  background-color: black;
}

.head2 h1 {
  background-color: white;
  text-decoration: underline;
  text-decoration-color: black;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}

.paratext {
  padding-top: 40px;
}

.paratext p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.paratext p span {
  color: #bfc500;
}

ol li span {
  color: #bfc500;
}

ol li {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 4px;
}

ol {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
}

.ol {
  padding-top: 20px;
  padding-bottom: 20px;
}

.back1 {
  padding-top: 145px;
}

.back1 a {
  text-decoration: none;
  color: red;
  background-color: white;
  padding: 9px;
  border-radius: 6px;
}

.main,
.main1,
.main2,
.main3,
.main4 {
  display: flex;
}

.lab1 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: underline;
}

.inp1 {
  padding-left: 12px;
}

.inp1 input {
  width: 253px;
  height: 20px;
}

.inp0 {
  padding-left: 78px;
}

.inp0 input {
  width: 253px;
  height: 20px;
}

.inp00 {
  padding-left: 49px;
}

.inp00 input {
  width: 253px;
  height: 20px;
}

.inp2 {
  padding-left: 73px;
}

.inp2 input {
  width: 253px;
  height: 20px;
}

.inp3 {
  padding-left: 82px;
}

.inp3 input {
  width: 253px;
  height: 20px;
}

.gen label {
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: purple;
  font-family: Arial, Helvetica, sans-serif;
}

.last input {
  width: 150px;
  height: 22px;
}

.containername {
  padding-left: 12px;
  padding-top: 140px;
  display: flex;
}

.items {
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 12px;
  color: rgb(189, 180, 52);
  animation: MKanimation 2.5s ease-in-out 0.1s infinite  alternate both ;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes MKanimation {
  /* 0% {
    transform: translate(0px,0px);
    background-color: red;
  }

  25% {
    transform: translate(80px,0px);
    background-color: yellow;
  }

  50% {
    transform: translate(100px,0px);
    background-color: green;
  }

  75% {
    transform: translate(150px,0px);
    background-color: pink;
  }

  100% {
    transform: translate(220px,0px);
    background-color: rgb(34, 60, 178);
  } */
    from{
    transform: translate(250px,0px);
    background-color: blue;
   }
   to{
    background-color: green;
   } 
}